{% extends 'admin/base.html.twig' %}
{% block body %}
    <section class="py-4">
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="border rounded p-4 mb-4">
                <h2 class="mb-3">Mon profil</h2>
                <span>Email: <b>{{ app.user.email }}</b></span>
            </div>

            <div class="border rounded p-4">
                <h2>Modifier mon profil</h2>
                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    <button type="submit" class="btn btn-outline-primary">Modifier</button>
                {{ form_end(form) }}
            </div>

        </div>
    </section>
{% endblock %}