<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/icon.png') }}">
        <title>{% block title %}Sokothai - Admin{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% endblock %}
    </head>
    <body>
        <nav class="nav py-3">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('index_homepage') }}"><i class="fas fa-arrow-circle-left"></i> Retour au site</a>
                    <div>
                        <a href="{{ path('event_list') }}" class="nav-link-custom text-dark mr-3">Évènements</a>
                        <a href="{{ path('user_update', {id: app.user.id}) }}" class="nav-link-custom text-dark mr-3">Profil</a>
                        <a href="{{ path('app_logout') }}" class="nav-link-custom text-danger">Déconnexion</a>
                    </div>
                </div>

            </div>
        </nav>
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
