{% extends 'admin/base.html.twig' %}
{% block body %}
    <section class="py-4">
        <div class="container">
            <a href="{{ path('event_list') }}" class="btn btn-primary mb-3">Liste évènements</a>
            <h1>Créer un évènement</h1>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.url_facebook) }}
                {{ form_row(form.createdAt) }}
                {{ form_row(form.isActived) }}
                <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}