{% extends 'admin/base.html.twig' %}
{% block body %}
    <section class="py-4">
        <div class="container">
            <a href="{{ path('event_list') }}" class="btn btn-primary mb-3">Liste évènements</a>
            <h1 class="mb-4">Modifier l'évènement</h1>
            {{ form_start(form, { 'attr': {'class': 'mb-4'}}) }}
                {{ form_row(form.name) }}
                {{ form_row(form.url_facebook) }}
                {{ form_row(form.createdAt) }}
            {{ form_row(form.isActived) }}
            <button type="submit" class="btn btn-primary">Modifier</button>
            {{ form_end(form) }}
            <a href="{{ path('event_delete',{id: event.id}) }}" class="btn btn-danger">Supprimer</a>
        </div>
    </section>
{% endblock %}